 /*sfdg*/
 .user{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border:none;
    outline:none;
    transition: all 2s linear;
    
 }
 body{
    background:#111;
    overflow-x: hidden;
    padding-left: 35rem;
}

header{
    position:fixed;
    top:0;
    left:0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: rgb(51, 49, 49);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;

}
header .user img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:12px solid rgb(89, 130, 172)
}
header .user .name{
font-size: 3.5 rem;
color:white;
}
header .user .post{
    font-size: 2.5 rem;
    color:white;
    }

header .navbar{
    width:100%;
}    
header .navbar ul{
    padding: 1rem 3rem;
    list-style: none;

}  
header .navbar ul li a{
    display: block;
    padding: 1.5px;
    margin: 1.5rem 0;
    background: #333;
    color: white;
    font-size: 1.5rem;
}
header .navbar ul li a:hover{
    background:black;
}
#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}
